# ======================
# DATA (DO NOT PUSH)
# ======================
data/

# ======================
# TRAINING ARTIFACTS
# ======================
checkpoints/
logs/
*.pth
*.pt

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# JUPYTER
# ======================
.ipynb_checkpoints/

# ======================
# SYSTEM
# ======================
.DS_Store

# ======================
# SLURM
# ======================
*.out
*.err
